

 
  <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#myModal">Create Byte</button>

  <!-- Modal -->
 <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
    
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="form-group" >
                  <%= form_for(@venture)  do |f| %>
                        <%= f.text_area :title , :class => 'form-control' , :placeholder=>"title" %>
                        <%= f.text_area :goal , :class => 'form-control' , :placeholder=>"goal" %>
                        <%= f.text_area :tags , :class => 'form-control' , :placeholder=>"tags" %>
                        <%= f.file_field :image  , :class => 'form-control image-file' %>
                        <button  type=button class="btn btn-defaul  btn-block image_button" ><span class="glyphicon glyphicon-camera"></span></button><br>  
                        <%= f.submit "save", :class => 'btn btn-primary btn-md btn-block' %>
                        <button  type=button class="btn btn-default image-cancel" ><span class="glyphicon glyphicon-remove"></span></button>       
                  <% end %>
                 </div> 
                 <img class="some-image"  />
            </div>
       
      </div>
      
    </div>
  </div>
