

  <div class="form-group" >
  <%= form_for(@venture)  do |f| %>
        <%= f.text_area :title , :class => 'form-control' , :placeholder=>"title" %>
        <%= f.text_area :goal , :class => 'form-control' , :placeholder=>"goal" %>
        <%= f.text_area :tags , :class => 'form-control' , :placeholder=>"tags" %>
        <%= f.file_field :image  , :class => 'form-control imagefile' %>
        <button  type=button class="btn btn-defaul  btn-block image_button" ><span class="glyphicon glyphicon-camera"></span></button><br>  
       
         <div class="caption thumbnail"  style="position:relative">
             
       <a class="glyphicon glyphicon-remove image-cancel" ></a> <br>
       <%= link_to image_tag @venture.image.url(:large), class:"some-image" ,  size: "200x200"  %>
        </div>
        <%= f.submit "save", :class => 'btn btn-primary btn-md btn-block' %>
       
  <% end %>
 </div> 
 