<head>
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
 
<div class="row">
     
    <div class="col-md-4">
         <div class="thumbnail">
            <%= link_to image_tag(@venture.image.url(:large))  %>
                <div class="caption">
                    <h1><%= @venture.title %></h1> 
                    <%= @venture.goal %>  <br>
                    <%= @venture.tags %> 
                </div>
        </div> 
        
    
        
    </div>

    <div class="col-md-6">
      
        <%= render "posts/form" %>
        <%= render "posts/index",  posts: @posts %>      
    </div> 
  
</div> 


