<head>
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
 
<div class="row">
     
    <div class="col-md-4">
         <div class="thumbnail">
            <%= link_to image_tag(@venture.image.url(:large))  %>
                <div class="caption">
                    <h1><%= @venture.title %></h1> 
                    <%= @venture.goal %>  <br>
                    <%= @venture.tags %> <br>
                    <%= link_to 'manage' , edit_venture_path(@venture) %><br>
                    <%= link_to 'chat' %> <br> 
                    <%= link_to 'public' %> <br> 
                    <%= link_to 'dashboard' %> <br> 
                    <%= link_to 'action' %> 
                </div>
        </div> 
        
    
        
    </div>

    <div class="col-md-6">
       <!--<button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#myModal">Create Byte</button>-->
       
        <%= render "posts/form" %>
        <%= render "posts/index" %>      
    </div> 
  
</div> 


